/* --- Start animation --- */
@keyframes show-animation {
    0% {
        opacity: 0%;
        transform: translate(0px, 150px);
    }
    100% {
        opacity: 100%;
         transform: translate(0px, 0px);
    }
}


.bottom-bar {
    display: none;
    padding-left: 10px;
    justify-content: center;
    animation: show-animation 0.5s ease-in-out backwards;

}
.bottom-bar a span {
    margin-top: 5px;
    color: white;
    text-decoration: none;
}

.bottom-bar a {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}

.bottom-bar a:hover {
    background-color: #272727;
}
.bottom-bar img {
    width: 25px;
    height: 25px;
}

.bottom-bar span {
    font-size: 10px;
}